body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.visualize {
  background-color: burlywood;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bgColor-snow {
  background-color: snow;
}

.padding-vertical {
  padding-top: 5px;
  padding-bottom: 5px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squircle {
  border-radius: 15px;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.position-relative {
  position: relative;
  /* margin: 0 auto; */
}

.height-250px {
  height: 250px;
}

.width-400px {
  width: 400px;
}

.opacity-0 {
  opacity: 0;
}

.transition-opacity {
  transition: opacity 0.2s ease 0s;
}

.hover-opacity:hover {
  opacity: 1;
}

.no-text-decoration {
  text-decoration: none;
}

.hover-color-olive:hover {
  color: olive;
}
