/* Vite default presets */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Start custom CSS */

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.pd-5px {
  padding: 5px;
}

.mt-50px {
  margin-top: 50px;
}

.pd-top-10px {
  padding-top: 15px;
}

.mb-50px {
  margin-bottom: 50px;
}

.h-250px {
  height: 250px;
}

.w-400px {
  width: 400px;
}

.h-500px {
  height: 500px;
}

.w-800px {
  width: 800px;
}

.br-15px {
  border-radius: 15px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.opacity-0 {
  opacity: 0;
}

.transition-opacity {
  transition-property: opacity;
}

.transition-0-2s {
  transition-duration: 0.2s;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.hover-opacity-1:hover {
  opacity: 1;
}

.text-decoration-none {
  text-decoration: none;
}

.hover-color-young-bamboo:hover {
  /* https://en.wikipedia.org/wiki/Traditional_colors_of_Japan */
  color: #6b9362;
}

.flex-2 {
  display: flex;
  justify-content: space-around;
}

.flex-3 {
  display: flex;
  flex-direction: column;
  /* max-height: 500px;
  max-width: 800px; */
  max-height: 500px;
  max-width: 100%;
  overflow-y: hidden;
  /* flex-shrink: 0; */
}

.flex-4 {
  display: flex;
  flex-direction: column;
}

.flex-shrink {
  flex-shrink: 3;
}

.min-width {
  min-width: 0;
}

.adaptive-width {
  width: 100%;
  height: auto;
}

.flex-shrink-2 {
  flex-shrink: 4;
}

.test {
  width: 25vw;
}

/* Old CSS */

/* .flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

/* .visualize {
  background-color: burlywood;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
} */

/* .bgColor-burlywood {
  background-color: burlywood;
} */

/* .br-5 {
  border-radius: 5px;
} */

/* .bgColor-snow {
  background-color: snow;
} */

/* .position-relative {
  position: relative;
} */

/* .squircle {
  border-radius: 15px;
} */

/* .position-absolute {
  position: absolute;
  top: 0;
  left: 0;
} */

/* .top-0 {
  top: 0;
}

.left-0 {
  left: 0;
} */

/* .transition-opacity {
  transition: opacity 0.2s ease 0s;
} */

/* .hover-opacity:hover {
  opacity: 1;
} */

/* .no-text-decoration {
  text-decoration: none;
} */

/* .padding-vertical {
  padding-top: 5px;
  padding-bottom: 5px;
} */
