body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.visualize {
  background-color: burlywood;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bgColor-snow {
  background-color: snow;
}

.padding-vertical {
  padding-top: 5px;
  padding-bottom: 5px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squircle {
  border-radius: 15px;
}
