/* Vite default presets */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Start custom CSS */

/* 🍂Color🍃 */

.bg-color-eggshell-paper {
  /* https://en.wikipedia.org/wiki/Traditional_colors_of_Japan */
  background-color: #e2be9f;
}

.hover-color-young-bamboo:hover {
  /* https://en.wikipedia.org/wiki/Traditional_colors_of_Japan */
  color: #6b9362;
}

.bg-color-red-wisteria {
  /* https://en.wikipedia.org/wiki/Traditional_colors_of_Japan */
  background-color: #bb7796;
}

.bg-color-cypress-bark {
  /* https://en.wikipedia.org/wiki/Traditional_colors_of_Japan */
  background-color: #752e23;
}

.bgColor-snow {
  background-color: snow;
}

/* 🍂Flex🍃 */

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

/* 🍂Padding and margins🍃 */

.pd-5px {
  padding: 5px;
}

.pd-20px {
  padding: 20px;
}

.pd-top-10px {
  padding-top: 15px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-125px {
  margin-top: 125px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-50px {
  margin-bottom: 50px;
}

/* 🍂Height and width🍃 */

.h-250px {
  height: 250px;
}

.h-500px {
  height: 500px;
}

.max-h-500px {
  max-height: 500px;
}

.w-400px {
  width: 400px;
}

.w-800px {
  width: 800px;
}

.width-100percent {
  width: 100%;
}

.w-20vw {
  width: 20vw;
}

.w-70vw {
  width: 70vw;
}

.max-w-100percent {
  max-width: 100%;
}

/* 🍂Border🍃 */
.border {
  /* https://en.wikipedia.org/wiki/Traditional_colors_of_Japan */
  border: 3px solid #006442;
}

/* 🍂Border radius🍃 */

.br-15px {
  border-radius: 15px;
}

/* 🍂Position🍃 */

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

/* 🍂Opacity🍃 */

.opacity-0 {
  opacity: 0;
}

.hover-opacity-1:hover {
  opacity: 1;
}

/* 🍂Transition🍃 */

.transition-0-2s {
  transition-duration: 0.2s;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

/* 🍂Text decoration🍃 */

.text-decoration-none {
  text-decoration: none;
}

/* 🍂Overflow🍃 */

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y {
  overflow-y: hidden;
}

/* 🍂Scroll🍃 */

.smooth {
  scroll-behavior: smooth;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

/* Old CSS */

/* .flex-shrink {
  flex-shrink: 3;
} */

/* .flex-shrink-2 {
  flex-shrink: 4;
} */

/* .flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

/* .visualize {
  background-color: burlywood;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
} */

/* .bgColor-burlywood {
  background-color: burlywood;
} */

/* .br-5 {
  border-radius: 5px;
} */

/* .position-relative {
  position: relative;
} */

/* .squircle {
  border-radius: 15px;
} */

/* .position-absolute {
  position: absolute;
  top: 0;
  left: 0;
} */

/* .top-0 {
  top: 0;
}

.left-0 {
  left: 0;
} */

/* .transition-opacity {
  transition: opacity 0.2s ease 0s;
} */

/* .hover-opacity:hover {
  opacity: 1;
} */

/* .no-text-decoration {
  text-decoration: none;
} */

/* .padding-vertical {
  padding-top: 5px;
  padding-bottom: 5px;
} */

/* .flex-2 {
  display: flex;
  justify-content: space-around;
} */

/* .flex-3 {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 100%;
  overflow-y: hidden;
} */

/* .adaptive-width {
  width: 100%;
  height: auto;
} */

/* .test {
  width: 25vw;
} */

/* .flex-4 {
  display: flex;
  flex-direction: column;
} */
